<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rooms and Suites</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.3.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/aboutstyle.css" />
  </head>

  <body>
    <div class="container">
      <%- include("navbar") %>
      <div>
        <table class="effect">
			<% let x = 1 %>
			<tr>
          <% for (const key of rooms) { %>
<% if (x%4==0) { %>
</tr>
<tr>
	<td>
		<figure>
		  <figcaption>
			<h2><%= key.roomName %></h2>
			<% if (key.extras == true) { %>
			<ul>
			  <li><%= key.view %> View</li>
			  <li>King size bed</li>
			  <li>Seperate living room</li>
			  <li>Jacuzzi tub</li>
			  <li>Fully air-conditioned</li>
			</ul>
			<% } %>
		  </figcaption>
		  <img src=<%= key.image %> />
		</figure>
	  </td>
	
<% }else{ %>
    <td>
		<figure>
		  <figcaption>
			<h2><%= key.roomName %></h2>
			<% if (key.extras == true) { %>
			<ul>
			  <li><%= key.view %> View</li>
			  <li>King size bed</li>
			  <li>Seperate living room</li>
			  <li>Jacuzzi tub</li>
			  <li>Fully air-conditioned</li>
			</ul>
			<% } %>
		  </figcaption>
		  <img src=<%= key.image %> />
		</figure>
	  </td>
	<% } %>
	
      
		  <% x++ %>

          <% } %>
        </table>
      </div>

      <div>
        <button><a href="Bookings">Book a room</a></button>
      </div>
      <footer></footer>
    </div>
  </body>
</html>
